/*
Varias formas de representar cores na css
Decimal: 0 1 2 3 4 5 6 7 8 9
Hexadecimal: 0 1 2 3 4 5 6 7 8 9 A B C D E F
*/

/*
***** representação por nomes ***
h2 {
    background-color: blue;
    color: white;
}
*/

/*
representação por códigos Hexadecimais
h2 {
    background-color: #0000FF;
    color: #FFFFFF;
}
*/

/* representação rgb (Red, Green, Blue)
h2 {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}
*/

/*representação por HSL (Hue, Sturation, Luminosity)*/
h2 {
    background-color: hsl(240, 100%, 50%);
    color: hsl(0, 0%, 100%);
}