* {  /*resetar configuração padrão do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    margin: 15px 15px 15px 15px;
}


ul {
    list-style-type: none;
    margin-left: 15px;
}
